.container {
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 100px 100px 100px;
  grid-column-gap: 20px;
}

.center {
  grid-column: 2/3;
}

.horizontal-center {
  text-align: center;
}

.first-row {
  grid-row: 1/3;
}

.second-row {
  grid-row: 2/3;
}

.third-row {
  grid-row: 3/3;
}
