<div>
  <h1>Player</h1>
</div>
<div class="container">
  <div class="center second-row">
    <!-- List of available quizzes -->
    <div> List of quizzes </div>
    <div *ngFor="let q of quizzes; let idx = index">
      <div *ngIf="scores[idx] == -1">
        <button mat-raised-button class="separator" color="primary" (click)="selectQuiz(q)">{{q.name}}</button>
      </div>
      <div *ngIf="scores[idx] != -1">
        <button mat-raised-button class="separator" color="primary" disabled>{{q.name}}: {{scores[idx]}}</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
